<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 반드시 namespace는 sql구문을 호출하는 .java 파일의 qualified name과 일치해야 한다 -->
<mapper namespace="kr.bigdata.web.mapper.BoardMapper">

  <select id="selectAll" resultType="Board">
    select * from board ORDER BY IDX ASC
    <!-- select * from board ORDER BY IDX DESC -->
  </select>
 
  <select id="selectData" resultType="Board" parameterType="SearchCriteria">
    <!-- SELECT * FROM board WHERE #{filter} LIKE '%' || #{searchContent} || '%' -->
    SELECT * FROM board
    <include refid="selectOption"></include>
  </select>
  
  <!-- mybatis를 활용한 동적 쿼리문(조건, 반복문) -->
  <sql id="selectOption">
  	<if test="filter=='WRITER'">
	  WHERE WRITER LIKE '%'||#{searchContent}||'%'
	</if>
  	<if test="filter=='TITLE'">
	  WHERE TITLE LIKE '%'||#{searchContent}||'%'
	</if>
  	<if test="filter=='CONTENT'">
	  WHERE CONTENT LIKE '%'||#{searchContent}||'%'
	</if>
  </sql>
  
  <insert id="upDate" parameterType="Board">
	INSERT INTO BOARD(IDX, TITLE, WRITER, CONTENT)
	VALUES (BOARD_IDX.NEXTVAL, #{title}, #{writer}, #{content})
  </insert>
    
</mapper>